@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    padding: 0;
    margin: 0;
}

#chat-digitaly-watson ::-webkit-scrollbar {
    width: 7px;
}

#chat-digitaly-watson ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#chat-digitaly-watson ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*--------------------
Chat
--------------------*/

#chat-digitaly-watson,
#chat-digitaly-watson * {
    /* transition: all ease 0.25s; */
}

#chat-digitaly-watson {
    width: 70px;
    padding: 0;
    z-index: 999999;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

#chat-digitaly-watson.open {
    min-width: 260px;
    border-radius: 0;
    width: 100%;
    max-width: 768px;
    height: 100vh;
}

#chat-digitaly-watson .content {
    height: 70px;
    width: 70px;
    position: relative;
}

#chat-digitaly-watson.open .content {
    height: 100vh;
    width: auto;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: width 0.4s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.4s;
}

#chat-digitaly-watson .content .chat-title h3,
#chat-digitaly-watson .content .chat-title button .icn-close-chat,
#chat-digitaly-watson .content .chat-title a,
#chat-digitaly-watson.open .content .chat-title button .icn-init-chat,
#chat-digitaly-watson .cntent .chat-clerk,
#chat-digitaly-watson .content .messages,
#chat-digitaly-watson .content #myForm {
    height: 0;
    display: none;
}

#chat-digitaly-watson.open .content .chat-title h3,
#chat-digitaly-watson.open .content .chat-title button .icn-close-chat,
#chat-digitaly-watson.open .content .chat-title a,
#chat-digitaly-watson.open .content .chat-clerk,
#chat-digitaly-watson.open .content .messages,
#chat-digitaly-watson.open .content #myForm {
    max-height: 320px;
    height: auto;
    display: block;
}


/* Chat Title*/

#chat-digitaly-watson .content .chat-title {
    width: 70px;
    height: 70px;
    background: #e5e6e8;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative !important;
}

#chat-digitaly-watson.open .content .chat-title {
    background: #003554 !important;
    width: 100%;
    height: 35px;
}

.chat-title button .icn-init-chat {
    background: #ffffff url(../img/berith.png) no-repeat center center;
    width: 70px;
    height: 70px;
    display: block;
    margin: 0;
    border-radius: 50%;
    background-size: 100%;
}

#chat-digitaly-watson.open .content .chat-title h3 {
    color: #fff;
    font-size: 18px;
    margin: 6px 0;
    font-weight: normal;
}

#chat-digitaly-watson.open .content .chat-title button .icn-close-chat {
    height: 0px !important;
}

#chat-digitaly-watson.open .content .chat-title a {
    top: 5px;
    right: 40px;
    position: absolute;
    background: none;
}

#chat-digitaly-watson.open .content .chat-title a .icn-delete-chat {
    color: #fff !important;
}

.chat-title button {
    background: none;
    border: 0;
    color: #FFF;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

#chat-digitaly-watson.open .content .chat-title button {
    position: absolute;
    top: 5px;
    right: 5px;
}

#chat-digitaly-watson.open .content .chat-title button i {
    cursor: pointer;
}


/*--------------------
Chat Clerk
--------------------*/

#chat-digitaly-watson .chat-clerk {
    position: relative;
    z-index: 2;
    background: #01a6e8;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 14px 10px 12px 50px;
    font-family: 'Roboto', sans-serif;
}

#chat-digitaly-watson .chat-clerk h1 {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    color: #fff;
}

#chat-digitaly-watson .chat-clerk h4 {
    font-weight: normal;
    font-size: 9px;
    margin: 0;
    color: #fff;
}

#chat-digitaly-watson .chat-clerk .avatar {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 10px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#chat-digitaly-watson .chat-clerk .logo {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#chat-digitaly-watson .chat-clerk .avatar img {
    width: 100%;
    height: auto;
}

#chat-digitaly-watson .chat-clerk .logo img {
    width: 100%;
    height: auto;
}

/*--------------------
Messages
--------------------*/

#chat-digitaly-watson .messages {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #fff;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh !important;
    max-height: 100vh !important;
}

#chat-digitaly-watson .messages .messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#chat-digitaly-watson .messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 10px;
    background: #003554;
    margin: 8px 0;
    font-size: 13px;
    line-height: 1.4;
    margin-left: 50px;
    margin-right: 7px;
    position: relative;
}

#chat-digitaly-watson .messages .message.message-buttons {
    padding: 0;
    background: no-repeat;
}

#chat-digitaly-watson .messages .message.carousel {
    padding: 0;
    overflow: hidden;
}

#chat-digitaly-watson .messages .message .timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.3);
}

#chat-digitaly-watson .messages .message .avatar {
    position: absolute;
    z-index: 1;
    left: -43px;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    bottom: -25px;
}

#chat-digitaly-watson .messages .message .logo {
    position: absolute;
    z-index: 1;
    right: -43px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    bottom: -25px;
}

#chat-digitaly-watson .messages .message .avatar img {
    width: 100%;
    height: auto;
}

#chat-digitaly-watson .messages .message .logo img {
    width: 100%;
    height: auto;
}

#chat-digitaly-watson .messages .message.message-personal {
    float: right;
    color: #fff;
    margin-right: 7px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
}

#chat-digitaly-watson .messages .message.message-personal::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.5);
    bottom: -4px;
}

#chat-digitaly-watson .messages .message:last-child {
    margin-bottom: 30px;
}

#chat-digitaly-watson .messages .message.new {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
    animation: bounce 500ms linear both;
    text-align: left;
}

#chat-digitaly-watson .messages .message.new:not(.itens-option):not(.loading):not(.content-img-chatbot):not(.carousel)::before {
    border-right: 30px solid transparent;
    border-top: 15px solid #003554;
    bottom: -9px;
    content: '';
    left: -2px;
    position: absolute;
    transform: rotate(20deg);
}

#chat-digitaly-watson .messages .message.new:not(.carousel) > a {
    color: #00a6e8;
}

#chat-digitaly-watson .messages .message.loading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    border: none;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

#chat-digitaly-watson .messages .message.loading span {
    display: block;
    font-size: 0;
    width: 20px;
    height: 10px;
    position: relative;
}

#chat-digitaly-watson .messages .message.loading span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: whitesmoke;
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: -7px;
}

#chat-digitaly-watson .messages .message.loading span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    margin-top: 4px;
    -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
    margin-left: 7px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}


/*--------------------
Message Box
--------------------*/

#chat-digitaly-watson .message-box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40px;
    -ms-flex: 0 1 40px;
    flex: 0 1 40px;
    width: calc(100% - 20px);
    padding: 10px;
    position: relative;
    box-shadow: 1px 1px 7px 3px #e5e6e8;
    height: 60px !important;
}

#chat-digitaly-watson .message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: #000;
    font-size: 13px;
    margin: 0;
    padding: 10px 5px 10px 0;
    width: calc(100% - 40px);
}

#chat-digitaly-watson .message-box input:focus:-webkit-placeholder {
    color: transparent;
}

#chat-digitaly-watson .message-box .message-input:disabled::-webkit-input-placeholder {
    color: #cbcbcb;
}

#chat-digitaly-watson .message-box .message-submit {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: #8cc642;
    text-align: center;
    display: block;
    padding-left: 8px;
    line-height: 40px;
    float: right;
    margin: 2px 0;
}

#chat-digitaly-watson .message-submit .material-icons {
    color: #fff;
    margin-right: 8px;
    font-size: 20px !important;
    line-height: 1.5 !important;
}


/*--------------------
Bounce
--------------------*/


/* Imagens Chatbots */

#chat-digitaly-watson .messages .message.new.content-img-chatbot {
    width: calc(100% - 60px);
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 0px 0px 10px 0px;
    overflow: hidden;
}

#chat-digitaly-watson .messages .message.new.content-img-chatbot .img-chatbot-background {
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#chat-digitaly-watson .messages .message.new.content-img-chatbot .img-chatbot-background img {
    width: 100%;
    max-height: 280px;
    margin: 0;
    opacity: 0;
}

#chat-digitaly-watson .messages .message.new.content-img-chatbot .text-img-chatbot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

#chat-digitaly-watson .messages .message.new.content-img-chatbot .text-img-chatbot h4 {
    margin: 0 0 5px 0;
    color: #000;
    font-size: 15px;
}

#chat-digitaly-watson .messages .message.new.content-img-chatbot .text-img-chatbot .description-img-chatbot {
    font-size: 13px !important;
    color: #878787 !important;
}


/* options */

#chat-digitaly-watson .messages .message.new.itens-option {
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    clear: none;
    display: block;
    background: #8cc63e;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@-webkit-keyframes ball {
    from {
        -webkit-transform: translateY(0) scaleY(0.8);
        transform: translateY(0) scaleY(0.8);
    }
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes ball {
    from {
        -webkit-transform: translateY(0) scaleY(0.8);
        transform: translateY(0) scaleY(0.8);
    }
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.hidden-button-chat-watson #chat-digitaly-watson {
    display: none;
}

#close-watson-alert {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 53, 84);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#close-watson-alert h3 {
    margin-top: 0;
}

#close-watson-alert > div {
    padding: 0 15px;
    margin: 0;
    height: 75px;
    width: calc(100% - 30px);
    position: absolute;
    top: calc(50% - 35px);

}

#close-watson-alert button {
    color: rgb(255, 255, 255);
    text-align: center;
    clear: none;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 6px;
    text-decoration: none;
    margin: 2px;
    background: rgb(0, 53, 84);
    border-radius: 5px;
    padding: 5px 10px;
    width: 85px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#close-watson-alert button.close {
    color: rgb(0, 53, 84);
    background: #FFF;
}